<div class="bg-slate-200 h-screen">
    
    <div *ngIf="user" class="container mx-auto px-4 py-8">
        <button (click)="goBack()" class="absolute top-0 left-0 mt-7 ml-7 flex items-center text-blue-600 hover:text-blue-800">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
            </svg>
            <span class="ml-2">Back</span>
        </button>

      <div class="bg-white shadow-md rounded-lg p-6">
        <h2 class="text-xl font-semibold mb-4">User Details</h2>
    
        <div class="flex">
          <img [src]="user.avatar" alt="{{ user.first_name }}" class="w-32 h-32 rounded-full mr-6">
          <div class="flex flex-col self-center">
            <p class="text-lg font-semibold">{{ user.first_name }} {{ user.last_name }}</p>
            <p class="text-gray-600">{{ user.email }}</p>
          </div>
        </div>
      </div>
    </div>
</div>