<div class="bg-slate-200">
  <div class="navy-color text-white py-4">
    <div class="container mx-auto px-4">
      <h1 class="text-3xl font-bold">Users List</h1>
    </div>
  </div>
  
    <div class="container mx-auto px-4 py-8">
      <div class="bg-white shadow-md rounded-lg p-6">
        <h2 class="text-xl font-semibold mb-4">Users: {{totalUsers}}</h2>
  
        <div class="overflow-x-auto">
          <table class="min-w-full bg-white">
            <thead>
              <tr>
                <th *ngFor="let header of tableHeaders" class="text-start py-2 px-4 border-b-2 border-gray-200"> {{ header }} </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td class="py-2 px-4 border-b border-gray-200">{{ user.id }}</td>
                <td class="py-2 px-4 border-b border-gray-200">
                  <img [src]="user.avatar" alt="{{ user.first_name }}" class="w-10 h-10 rounded-full">
                </td>
                <td class="py-2 px-4 border-b border-gray-200">{{ user.first_name }} {{ user.last_name }}</td>
              </tr>
            </tbody>
          </table>
        </div>
  
        <div class="mt-4 flex justify-center">
          <nav class="flex">
            <button (click)="prevPage()" [ngClass]="page === 1? 'opacity-20' : ''" [disabled]="page === 1" class="w-24 px-3 py-2 mx-4 navy-color text-white rounded">Previous</button>
            <button (click)="nextPage()" [ngClass]="page === totalPages? 'opacity-20' : ''" [disabled]="page === totalPages" class="w-24 px-3 py-2 mx-4 navy-color text-white rounded">Next</button>
          </nav>
        </div>
      </div>
    </div>
</div>